/*
 * ===== Theme mixins =====
 */

@mixin mq($args...) {
    $media-type: 'only screen';
    $media-type-key: 'media-type';
    $args: keywords($args);
    $expr: '';
    @if map-has-key($args, $media-type-key) {
        $media-type: map-get($args, $media-type-key);
        $args: map-remove($args, $media-type-key);
    }
    @each $key, $value in $args {
        @if $value {
            $expr: '#{$expr} and (#{$key}: #{$value})';
        }
    }
    @media #{$media-type}#{$expr} {
        @content;
    }
}

@mixin mq__mobile_landscape {
    @include mq($min-width: 568px) {
        @content;
    }
}

@mixin mq__tablet_landscape {
    @include mq($min-width: 834px) {
        @content;
    }
}
